  @import "tailwindcss";

/*   
html,
body {
  width: 100%;
  overflow-x: hidden;
}


[class*="w-screen"] {
  width: 100% !important;
} */




html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Fix container constraints */
* {
  box-sizing: border-box;
}

/* Fix w-screen overflow */
[class*="w-screen"] {
  width: 100% !important;
}

/* Ensure full width for gradients */
body > div {
  width: 100%;
}
   




::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


p {
  text-align: justify;
}
